body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
.header, 
.hero,
.footer {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.header .logo {
    font-family: trattatello;
    font-size: 34px;
    font-weight: bold;
    color: #f9faf8; 
}
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 50px;
}
a {
    color: inherit;
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-top: 120px;
    gap: 50px;
}
.hero .left,
.hero .right {
    width: 40%;
}
.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 30px;
}
.hero .text,
a {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 40px;
}
a:hover {
    color: #3882f6;
}
.hero button,
.message button {
    background-color: #3882f6;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}
.hero img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}
button:hover {
    background-color: blueviolet;
    border: 2px solid cyan;
}
.information {
    padding: 80px;
}
.information .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card img {
    width: 150px;
    height: 150px;
    border: 2px solid cyan;
    border-radius: 20px;
    margin-bottom: 30px;
}
.card img:hover {
    width: 170px;
    height: 170px;
    border: 4px solid blueviolet;
    margin-bottom: 6px;
}
.card .text {
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.citation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 60px;
}
.citation .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 60%;
    padding-bottom: 50px;
}
.citation .author {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}
.message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 180px;
}
.message .box {
    background-image: url("images/Basket.jpg");
    flex: 1;
    height: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 30px 50px;
}
.message .left {
    flex: auto;
    color: white;
}
.message .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.message .text {
    font-size: 20px;
}
.message button {
    align-self: flex-end;
}
.footer {
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 30px;
}